@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewBag.Title = "Home Page";
}

@{
    ViewData["Title"] = "Home Page";
}

<h1>
    Witaj w naszym sklepie
</h1>

@if (SignInManager.IsSignedIn(User))
{
    <div>Nowe funkcje dla zalogowanych użytkowników</div>
    <div>
        <a class="" asp-controller="Products" asp-action="List">Twoje produkty</a>
    </div>
    <div>
        <a class="" asp-controller="Products" asp-action="ShoppingCart">Koszyk</a>
    </div>
}
else
{
    <h5>
        Aby w pełni wykorzystać nasz sklep, zaloguj się na swoje konto
    </h5>
    <h5>
        Jeśli jeszcze nie masz konta, zarejestruj się i zdobądź dostęp do zakupu produktów oraz nawet tworzenia własnych.
    </h5>
}


